.assessments-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.assessments-title {
  text-align: center;
}

.assessments-content {
  display: flex;
  justify-content: center;
}
