.contact-instructors-title {
	text-align: center;
}

.instructor-card-container {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
	width: 60rem;
}

.instructor-card {
	margin-right: 40px;
}
