.final-projects-title {
  text-align: center;
}

.final-projects__sort-container {
  display: flex;
  justify-content: center;
}

.final-projects__sort-container > button {
  margin-right: 15px;
}

.final-projects__cycle {
  text-align: center;
}

.final-projects__list {
  display: flex;
  justify-content: center;
}

.final-projects__students {
  margin-right: 15px;
}

.final-projects__project-name {
  margin-right: 15px;
}

.final-projects__project-clone {
  margin-right: 15px;
}
