.home-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.home__welcome-message {
  text-align: center;
}

.home__app-academy-link {
  text-align: center;
}

.home__zoom-meeting {
  text-align: center;
}
