#landing-page__title {
	text-align: center;
	margin-top: 2rem;
}

.login-container {
	display: flex;
	justify-content: center;
	margin-top: 5rem;
}

img.login-page-image {
	width: 100%;
}

.image-container {
	margin: 0rem 3rem;
}
