.landing-page-container {
	display: flex;
	display: grid;
	position: relative;
	height: 100%;
}

.landing-page-container__top {
	display: flex;
	background-color: red;
	justify-content: center;
	width: 100%;
	height: 30rem;
}

h1#landing-page__title {
	color: white;
	margin-top: 45px;
	font-size: 3em;
}

.landing-page-form-container {
	display: flex;
	background-color: white;
	border: 0.5px solid gray;
	position: absolute;
	justify-self: center;
	align-self: center;
	height: 25rem;
	width: 60%;
	justify-content: space-around;
	top: 10rem;
	box-shadow: 2px 0px 10px grey;
}

.landing-page__student {
	text-align: center;
	margin-top: 1rem;
	padding-right: 20px;
}

.landing-page__instructor-form {
	/* display: grid;
	grid-template-rows: 1fr 0.5fr 1fr 0.5fr 0.5fr; */
}

.landing-page__instructor {
	text-align: center;
	border-left: 0.5px black solid;
	padding-left: 100px;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

p.email {
	text-align: left;
	margin-bottom: 0;
}

p.password {
	text-align: left;
	margin-bottom: 0;
}

h2#student-title {
	text-align: center;
	font-size: 2em;
	margin-bottom: 0;
}

h2#instructor-title {
	text-align: center;
	font-size: 2em;
	margin-bottom: 0;
}

.landing-page__instructor-form > input {
	margin-top: 15px;
	border: none;
	border-bottom: 1px solid gray;
	width: 20rem;
	justify-self: flex-end;
}

#login-button {
	justify-self: center;
	text-align: center;
	padding: 7px 15px;
}

h2 > button {
	margin-top: 10px;
}

.landing-page__instructor-form > button {
	margin-top: 20px;
}
